APP_PORT=3000
DISCORD_BOT_TOKEN=enter_your_token_here
DISCORD_APPLICATION_ID=enter_your_application_id_here
DEFAULT_PREFIX=!

DATABASE_TYPE=sqlite
DATABASE_NAME=ririko.db

AUTH_JWT_SECRET=secret
AUTH_JWT_TOKEN_EXPIRES_IN=24h
AUTH_REFRESH_SECRET=secret_for_refresh
AUTH_REFRESH_TOKEN_EXPIRES_IN=3650d

MAIL_HOST=maildev
MAIL_PORT=1025
MAIL_USER=
MAIL_PASSWORD=
MAIL_IGNORE_TLS=true
MAIL_SECURE=false
MAIL_REQUIRE_TLS=false
MAIL_DEFAULT_EMAIL=noreply@example.com
MAIL_DEFAULT_NAME=Api
MAIL_CLIENT_PORT=1080