# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
out-tsc/
*.tsbuildinfo

# Logs & Temp
tmp/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment & Secrets
.env
.env.local
.env.*.local
*.pem

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local
.local/
data/
storage/
*.sqlite
*.sqlite-wal
*.sqlite-shm
temp-*/
