# For development use, this will build the image locally.
version: '3.8'

services:
  ririko-bot:
    build:
      context: .
      dockerfile: Dockerfile.dev
    image: ririkoai/ririkobot-development
    container_name: ririko-bot
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - ./data:/app/data
      - ./config:/app/config
    environment:
      - NODE_ENV=development
    # No need to override the command here as it's already set in the Dockerfile
